/* For Elements */

body {
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

span>i:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}


/* For Elements */


/* General Classes */

.transparent-bg {
    background: rgba(255, 255, 255, 0.5);
}

.transparent-color {
    color: rgba(255, 255, 255, 0.5);
}

.cursor-pointer {
    cursor: pointer;
}


/* General Classes */


/* Tasks Card */

ul.tasks {
    text-align: left;
    padding-left: 0;
    list-style-type: none;
}

ul.tasks>li {
    background-color: gray;
    margin-bottom: 1rem;
    padding: 0.5rem;
    color: white;
}

.arrow {
    font-size: 3rem;
    height: 5rem !important;
    position: absolute;
    top: 50%;
}

.arrow:hover {
    color: rgb(206, 211, 214);
}

.arrow-right {
    left: 100%;
    margin-left: 1rem;
}

.arrow-left {
    right: 100%;
    margin-right: 1rem;
}

.add-task,
.put-task {
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 1.5rem;
}

.add-task::placeholder {
    color: rgba(41, 42, 41, 0.6);
}

.card {
    width: 35% !important;
}

.turn-today {
    font-size: 0.9rem;
    color: #2fbcd8;
}

.turn-today:hover {
    text-decoration: none;
}


/* Tasks Card */


/* Sidebar */

.selected-effect {
    font-size: 1.2rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

p>.fa-circle:hover {
    font-size: 1.2rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

span>.fa-circle:hover {
    font-weight: 700;
}


/* Sidebar */